node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
src/helpers/react-native-scrubber/react-native-scrubber.d.ts
src/helpers/react-native-scrubber/react-native-scrubber.js
